/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;500;600;700&family=Dancing+Script:wght@700&display=swap");

/* General style */
* {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}

body {
  font-family: "Archivo Narrow", sans-serif;
}

#logo {
  font-family: "Dancing Script", cursive;
}
